<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 mb-30">
      <div id="product-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg-light">
          <div class="carousel-item active">
            <img class="w-100 h-100"
                 src="https://vn-test-11.slatic.net/p/a2b08e6fa9a22cf0e61668620789f824.jpg" alt="Image">
          </div>
          <div class="carousel-item">
            <img class="w-100 h-100"
                 src="https://vn-test-11.slatic.net/p/219a4e62d230fa3d71db05b6d8311593.jpg" alt="Image">
          </div>
          <div class="carousel-item">
            <img class="w-100 h-100"
                 src="https://vn-test-11.slatic.net/p/30716118ca75310dda5c079b317e7312.jpg" alt="Image">
          </div>
          <div class="carousel-item">
            <img class="w-100 h-100"
                 src="	https://vn-test-11.slatic.net/p/e2febe6cc50626f0394b21b79cece17e.jpg" alt="Image">
          </div>
        </div>
        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
          <i class="fa fa-2x fa-angle-left text-dark"></i>
        </a>
        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
          <i class="fa fa-2x fa-angle-right text-dark"></i>
        </a>
      </div>
    </div>

    <div class="col-lg-7 h-auto mb-30">
      <div class="h-100 bg-light p-30">
        <h3>Dragon Ball Super</h3>
        <div class="d-flex mb-3">
          <div class="text-primary mr-2">
            <!--                            <small class="fas fa-star"></small>-->
            <!--                            <small class="fas fa-star"></small>-->
            <!--                            <small class="fas fa-star"></small>-->
            <!--                            <small class="fas fa-star-half-alt"></small>-->
            <!--                            <small class="far fa-star"></small>-->
          </div>
          <!--                        <small class="pt-1">(99 Reviews)</small>-->
        </div>
        <h3 class="font-weight-semi-bold mb-4">30,000 <sup>đ</sup></h3>
        <strong class="text-dark mr-3">Nội Dung: </strong>
        <p class="mb-4">Sau trận chiến hoành tráng với Ma Buu, thế giới vừa lấy lại vẻ thanh bình vốn có thì đã
          phải đối diện với một nguy cơ mới!! Kẻ địch lần này đến từ vũ trụ thứ 6.</p>
        <div class="d-flex mb-3">
          <strong class="text-dark mr-3">Tác Giả: </strong>
          <p>Akira Toriyama</p>
        </div>
        <div class="d-flex mb-4">
          <strong class="text-dark mr-3">Họa Sĩ:</strong>
          <p>Toyotarou</p>
        </div>
        <div class="d-flex mb-4">
          <strong class="text-dark mr-3">Xuất Xứ:</strong>
          <p>Việt Nam</p>
        </div>
        <div class="d-flex align-items-center mb-4 pt-2">
          <div class="input-group quantity mr-3" style="width: 130px;">
            <div class="input-group-btn">
              <button class="btn btn-primary btn-minus">
                <i class="fa fa-minus"></i>
              </button>
            </div>
            <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
            <div class="input-group-btn">
              <button class="btn btn-primary btn-plus">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Thêm Vào Giỏ Hàng
          </button>
        </div>
        <div class="d-flex pt-2">
          <strong class="text-dark mr-2">Liên Hệ:</strong>
          <div class="d-inline-flex">
            <a class="text-dark px-2" href="">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shop Detail End -->


<!--&lt;!&ndash; Products Start &ndash;&gt;-->
<!--<div class="container-fluid py-5">-->
<!--  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản Phẩm Mới Nhất</span>-->
<!--  </h2>-->x
<!--  <div class="row px-xl-5">-->
<!--    <div class="col">-->
<!--      <div class="owl-carousel related-carousel">-->
<!--        <div class="product-item bg-light">-->
<!--          <div class="product-img position-relative overflow-hidden">-->
<!--            <img class="img-fluid w-100" src="img/anime_6.jpg" alt="">-->
<!--            <div class="product-action">-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="text-center py-4">-->
<!--            <a class="h6 text-decoration-none text-truncate" href="">DRAGON BALL SUPER</a>-->
<!--            <div class="d-flex align-items-center justify-content-center mt-2">-->
<!--              <h5>30,000đ</h5>-->
<!--            </div>-->
<!--            <div class="d-flex align-items-center justify-content-center mb-1">-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small>(99)</small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="product-item bg-light">-->
<!--          <div class="product-img position-relative overflow-hidden">-->
<!--            <img class="img-fluid w-100" src="img/anime_6.jpg" alt="">-->
<!--            <div class="product-action">-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="text-center py-4">-->
<!--            <a class="h6 text-decoration-none text-truncate" href="">DRAGON BALL SUPER</a>-->
<!--            <div class="d-flex align-items-center justify-content-center mt-2">-->
<!--              <h5>20,000đ</h5>-->
<!--            </div>-->
<!--            <div class="d-flex align-items-center justify-content-center mb-1">-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small>(99)</small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="product-item bg-light">-->
<!--          <div class="product-img position-relative overflow-hidden">-->
<!--            <img class="img-fluid w-100"-->
<!--                 src="https://product.hstatic.net/1000376556/product/nxbtre_full_09132023_021300_d3ca1fd132344bc98da67e8e6ed965a7_large.jpg"-->
<!--                 alt="">-->
<!--            <div class="product-action">-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="text-center py-4">-->
<!--            <a class="h6 text-decoration-none text-truncate" href="">Fire Force 1</a>-->
<!--            <div class="d-flex align-items-center justify-content-center mt-2">-->
<!--              <h5>50,000đ</h5>-->
<!--            </div>-->
<!--            <div class="d-flex align-items-center justify-content-center mb-1">-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star-half-alt text-primary mr-1"></small>-->
<!--              <small class="far fa-star text-primary mr-1"></small>-->
<!--              <small>(99)</small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="product-item bg-light">-->
<!--          <div class="product-img position-relative overflow-hidden">-->
<!--            <img class="img-fluid w-100"-->
<!--                 src="https://product.hstatic.net/1000376556/product/dragon_ball_full_color_-_phan_6_-_mabuu_-_tap_4_0237988f408143829e57ba2f1c94f18a_large.jpg"-->
<!--                 alt="">-->
<!--            <div class="product-action">-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="text-center py-4">-->
<!--            <a class="h6 text-decoration-none text-truncate" href="">Dragon Ball Full Color</a>-->
<!--            <div class="d-flex align-items-center justify-content-center mt-2">-->
<!--              <h5>24,000đ</h5>-->
<!--            </div>-->
<!--            <div class="d-flex align-items-center justify-content-center mb-1">-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="far fa-star text-primary mr-1"></small>-->
<!--              <small class="far fa-star text-primary mr-1"></small>-->
<!--              <small>(99)</small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="product-item bg-light">-->
<!--          <div class="product-img position-relative overflow-hidden">-->
<!--            <img class="img-fluid w-100"-->
<!--                 src="https://product.hstatic.net/1000376556/product/tanaka_luc_nao_cung_vat_vo_52a52990f4354098afaeead46f4a2582_large.jpg"-->
<!--                 alt="">-->
<!--            <div class="product-action">-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>-->
<!--              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="text-center py-4">-->
<!--            <a class="h6 text-decoration-none text-truncate" href="">TANAKA LÚC NÀO CŨNG VẬT VỜ</a>-->
<!--            <div class="d-flex align-items-center justify-content-center mt-2">-->
<!--              <h5>55,000đ</h5>-->
<!--            </div>-->
<!--            <div class="d-flex align-items-center justify-content-center mb-1">-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star text-primary mr-1"></small>-->
<!--              <small class="fa fa-star-half-alt text-primary mr-1"></small>-->
<!--              <small>(99)</small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Products End &ndash;&gt;-->
