<!--<div class="registration">-->
<!--  <form>-->
<!--    <h2>Đăng ký</h2>-->
<!--    <label for="name">Họ Và Tên:</label>-->
<!--    <input type="text" id="name" name="name" required>-->

<!--    <label for="email">Email:</label>-->
<!--    <input type="email" id="email" name="email" required>-->

<!--    <label for="email">Số Điện Thoại:</label>-->
<!--    <input type="email" id="email" name="email" required>-->

<!--    <label for="email">Tài Khoản:</label>-->
<!--    <input type="email" id="email" name="email" required>-->

<!--    <label for="email">Mật Khẩu:</label>-->
<!--    <input type="email" id="email" name="email" required>-->

<!--    <label for="email">Nhập Lại Mật Khẩu:</label>-->
<!--    <input type="email" id="email" name="email" required>-->


<!--    <button type="submit">Đăng ký</button>-->
<!--  </form>-->

<!--  <div class="video-container">-->
<!--    <video width="800" height="500"  controls autoplay>-->
<!--      <source src="../../../assets/img/Top%2010%20trận%20chiến%20kinh%20điển%20_%20Goku%20đấu%20với%20Frieza%20chúa%20tể%20của%20các%20hành%20tinh.mp4" type="video/mp4">-->
<!--    </video>-->
<!--  </div>-->

<!--</div>-->


<!-- Section: Design Block -->
<section class="text-center text-lg-start">

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Đăng Ký</h2>
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label style="text-align: left ; margin-right: 154px; " class="form-label" for="form3Example1">Họ Và tên:</label>
                    <input type="text" id="form3Example1" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label style="text-align: left ; margin-right: 154px; " class="form-label" for="form3Example2">Ngày Sinh:</label>
                    <input type="date" id="form3Example2" class="form-control" />
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <label style="text-align: left ;margin-right: 541px; " class="form-label" for="form3Example3">Email:</label>
                <input type="email" id="form3Example3" class="form-control" />
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label style="text-align: left ;margin-right: 433px; " class="form-label" for="form3Example4">Địa Chỉ:</label>
                <input type="password" id="form3Example4" class="form-control" />
              </div>

              <div class="form-outline mb-4">
                <label style="text-align: left ;margin-right: 415px; " class="form-label" for="form3Example4">Tài Khoản:</label>
                <input type="password" id="form3Example4" class="form-control" />
              </div>

              <div class="form-outline mb-4">
                <label  style="text-align: left ;margin-right: 415px; " class="form-label" for="form3Example4">Mật Khẩu:</label>
                <input type="password" id="form3Example4" class="form-control" />
              </div>

              <div class="form-outline mb-4">
                <label style="text-align: left ;margin-right: 350px; " class="form-label" for="form3Example4">Nhập Lại Mật Khẩu:</label>
                <input type="password" id="form3Example4" class="form-control" />
              </div>


              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Đăng Ký
              </button>

              <button type="submit" class="btn btn-primary btn-block mb-4">
                Đăng Nhập
              </button>

<!--              &lt;!&ndash; Register buttons &ndash;&gt;-->
<!--              <div class="text-center">-->
<!--                <p>or sign up with:</p>-->
<!--                <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                  <i class="fab fa-facebook-f"></i>-->
<!--                </button>-->

<!--                <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                  <i class="fab fa-google"></i>-->
<!--                </button>-->

<!--                <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                  <i class="fab fa-twitter"></i>-->
<!--                </button>-->

<!--                <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                  <i class="fab fa-github"></i>-->
<!--                </button>-->
<!--              </div>-->
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
             alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
