<!-- Topbar Start -->
<div class="container-fluid">
  <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-4">
      <a routerLink="" class="text-decoration-none">
        <span class="h1 text-uppercase text-primary bg-dark px-2">Shop</span>
        <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Anime</span>
      </a>
    </div>
    <div class="col-lg-4 col-6 text-left">
      <form action="">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Tìm Kiếm Sản Phẩm">
          <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
          </div>
        </div>
      </form>
    </div>

    <div class="profile-box" *ngIf="checkLogin" style="margin-left: 350px;">
      <a class="nav-icon position-relative text-decoration-none" href="#">
        <i  class="fa fa-fw fa-user text-dark mr-3"></i>
        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
      </a>
      <ul class="profile">
        <li class="profile-item">
          <button *ngIf="checkLogin">{{nameAccount}}</button>
        </li>
        <li class="profile-item">
          <button>Thông tin cá nhân</button>
        </li>
        <li class="profile-item">
          <button [routerLink]="['history',currentUser.id]">Lịch sử mua hàng</button>
        </li>
        <li class="profile-item">
          <button (click)="logOut()" class="login__btn">
            <i class="fa-solid fa-right-to-bracket"></i>
            Đăng xuất
          </button>
        </li>
      </ul>
    </div>
    <div *ngIf="!checkLogin" class="login d-flex" style="display: none ; margin-left: 220px;">
      <button routerLink="/user/create" class="login__btn mx-2 btn-account">
        <i class="fa-solid fa-circle-user"></i>
        Đăng ký
      </button>
      <button routerLink="/login" class="login__btn btn-account">
        <i class="fa-solid fa-right-to-bracket"></i>
        Đăng nhập
      </button>
    </div>
    <!--            <div class="col-lg-4 col-6 text-right">-->
    <!--                <p class="m-0">Customer Service</p>-->
    <!--                <h5 class="m-0">+012 345 6789</h5>-->
    <!--            </div>-->
  </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30" style="position: sticky;  top: 0; z-index: 2;">
  <div class="row px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <!--                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">-->
      <!--                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>-->
      <!--                    <i class="fa fa-angle-down text-dark"></i>-->
      <!--                </a>-->
    </div>
    <div class="col-lg-9">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
        <!--                    <a href="" class="text-decoration-none d-block d-lg-none">-->
        <!--                        <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>-->
        <!--                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>-->
        <!--                    </a>-->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <a href="" class="nav-item nav-link active">Trang Chủ</a>
            <a routerLink="/product" class="nav-item nav-link">Sản Phẩm</a>
            <a href="shop.html" class="nav-item nav-link">Tin Tức</a>
            <a href="shop.html" *ngIf="checkLogin && accountRole == 'ROLE_ADMIN'" class="nav-item nav-link">Thành Viên</a>
          </div>
          <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
            <a href="" class="btn px-0">
              <i class="fas fa-heart text-primary"></i>
              <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
            </a>
            <a href="" class="btn px-0 ml-3">
              <i class="fas fa-shopping-cart text-primary"></i>
              <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- Navbar End -->
